.container{
    width: 800px;
    margin: auto;
}

.nav-item{
    margin: 0 0.5rem;
}

.error-message{
    border: 1px solid #e35a5a;
    background: #e89595;
    border-radius: 3px;
    padding: 1rem;
}