<app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
<div class="container">
  <div class="nav">
    <a routerLink="/" class="nav-item">Home</a>
    <a routerLink="/counter" class="nav-item">Counter</a>
    <a routerLink="/posts" class="nav-item">Posts</a>
    <a routerLink="/auth/login" class="nav-item" *ngIf="!(isAuthenticated$ | async)">Login</a>
    <a routerLink="/auth/signup" class="nav-item" *ngIf="!(isAuthenticated$ | async)">Signup</a>
    <a routerLink="/auth/login" class="nav-item" (click)="onLogout($event)" *ngIf="isAuthenticated$ | async">Logout</a>
  </div>
  <hr>
  <div class="error-message" *ngIf="errorMessage$ | async as errorMessage">
    {{errorMessage}}
    <hr>
  </div>
  <router-outlet></router-outlet>
</div>