/* You can add global styles to this file, and also import other style files */

body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

// table {
//     th {
//         border-bottom: 3px double #8a8a8a;
//     }
//     td {
//         border-bottom: 1px solid #8a8a8a;
//         padding: 0.5rem 1rem;
//     }
// }